# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.StupidTheif.iml
# Datasource local storage ignored files
/../../../../../../:\MyProjects\StupidTheif\.idea\.idea.StupidTheif\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
